/* src/App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #0d1b2a; /* Fallback background color */
  color: #ffffff; /* Default text color */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background-size: contain; /* Ensure the background image fits within the viewport */
  background-repeat: no-repeat; /* Prevent tiling of the image */
  background-position: center; /* Center the image */
  background-color: rgba(0, 0, 0, 0.5); /* Overlay to improve text visibility */
  background-blend-mode: overlay;
}

.config-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2rem;
  color: #ffffff;
}

input[type="text"], input[type="date"] {
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px 0;
  background-color: #3e98c7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button {
  font-size: 1.5rem;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #3e98c7;
  border: none;
  color: black;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #3571a7;
  color: white;
}

.countdown-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.countdown-item {
  flex: 1;
  text-align: center;
  margin: 10px;
  min-width: 80px;
}

.countdown-item div {
  margin-top: 10px;
  font-size: 2rem;
}

label {
  font-size: 1.5rem;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .countdown-item div {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .countdown-container {
    flex-wrap: wrap;
  }
  .countdown-item {
    flex: 1 1 45%;
  }
  .countdown-item div {
    font-size: 1.6rem;
  }
  button {
    font-size: 1.2rem;
  }
  input[type="text"], input[type="date"] {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .countdown-item {
    flex: 1 1 100%;
  }
  .countdown-item div {
    font-size: 1.4rem;
  }
  button {
    font-size: 1rem;
  }
  input[type="text"], input[type="date"] {
    font-size: 0.9rem;
  }
}
